<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table>
  <tr>
    <th>ID</th>
    <th>Desc</th>
    <th>prepTime</th>
    <th>cooktime</th>
    <th>source</th>
    <th>url</th>
    <th>directions</th>
    <th>diffculty</th>


  </tr>
  <tr th:each="recipe: ${recipes}">
    <td th:text = "${recipe.id}">ID</td>
    <td th:text = "${recipe.description}">First Name</td>
    <td th:text = "${recipe.prepTime}">Last Name</td>
    <td th:text = "${recipe.cookTime}">ID</td>
    <td th:text = "${recipe.source}">First Name</td>
    <td th:text = "${recipe.difficulty}">Last Name</td>
  </tr>

</table>

</body>
</html>